.btn
{
    background-color: rgb(73, 72, 72);
    color: white;
    padding: 6px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
   margin: 30px;
  margin-left: 590px;
  font-size: 20px;
}